* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.container {
  border: 2px solid white;
  padding: 30px 40px;
  width: 40%;
  min-width: 500px; /*vai ocupar pelo menos 500px na largura do container*/
  margin-top: 100px;
}

.new_task_container {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  display: flex;
}

.new_task_container input {
  flex: 3; /*vai ajustar a largura automaticamente do input*/
  font-size: 1rem;
  border: 2px solid #d1d3d4;
  border-radius: 5px;
  padding: 12px;
  font-weight: 500;
}

.new_task_container input:focus {
  outline: none;
  border-color: #43e97b;
}

.new_task_button {
  flex: 1;
  border-radius: 5px;
  font-weight: 500;
  height: 100%;
  font-size: 1rem;
  border: none;
  background-color: #43e97b;
  color: white;
  padding: 12px;
  margin-left: 12px;
  cursor: pointer;
}

.tasks_container {
  background-color: white;
  padding: 30px 20px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.task_item {
  display: flex;
  justify-content: space-between; /*separar o texto do icone*/
  align-items: center;
  margin-bottom: 6px;
  margin-top: 6px;
}

.task_item i {
  background-color: #43e97b;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
}

.task_item i:hover {
  cursor: pointer;
}

.error {
  border: 2px solid red !important;
}

.error::placeholder {
  color: red;
}

.completed {
  text-decoration: line-through;
}
